<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bebo.newjson">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".link1Activity" />
        <activity android:name=".link2Activity" />
        <activity android:name=".link3Activity" />
        <activity android:name=".link4Activity" />
        <activity android:name=".link5Activity" />
        <activity android:name=".link6Activity" />
        <activity android:name=".link7Activity" />
        <activity android:name=".link8Activity" />
        <activity android:name=".link9Activity" />

        <activity android:name=".link10Activity"></activity>
    </application>

</manifest>